name: Validate

on:
  workflow_call:

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: ['5.4', 'latest']

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: composer update --no-interaction --no-progress

      - name: Validate Composer installation
        run: composer validate --no-check-all --strict
