name: Validate

on:
  workflow_call:

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: ['5.4', 'latest']

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: composer update --no-interaction --no-progress

      - name: Validate Composer installation
        run: composer validate --no-check-all --strict
