name: Validate

on:
  # Run on all pushes and pull requests.
  push:
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

permissions: {}

jobs:
  validate:
    uses: ./.github/workflows/reusable-validate.yml
